@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.footer {
    background: #212529;
    color: #fff;
  }
  
  .footer-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #f8b400;
  }
  
  .footer p {
    font-size: 1rem;
    color: #ccc;
  }
  
  .footer h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .footer-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-link:hover {
    color: #f8b400;
  }
  
  .social-icons a {
    font-size: 1.5rem;
    color: #fff;
    margin-right: 15px;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #f8b400;
    transform: scale(1.2);
  }
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
  }
  